@font-face {
  font-family: 'Futura PT Cond';
  src: url('fonts/FuturaPTCond.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Futura PT Cond',sans-serif;
  background: #365ea4;
  color: white;
  text-align: center;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  border: 2px solid white;
  padding: 20px;
  cursor: pointer;
  font-size: 24px;

}

td.used {
  background: #333;
  cursor: default;
}

.screen {
  display: none;
}

.screen.active {
  display: block;
}

button {
  padding: 12px 20px;
  font-family: 'Futura PT Cond',sans-serif;
  font-size: 24px;
  margin-top: 20px;
  cursor: pointer;
  background: #365ea4;
  color: white;
}

#question-screen {
  padding: 10px 40px;
}

#question-screen h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
}

#question-screen h3 {
  font-size: 28px; /* цена */
  opacity: 0.8;
  margin-bottom: 30px;
}

#question-screen p {
  font-size: 36px; /* сам вопрос */
  line-height: 1.4;
  max-width: 900px;
  margin: 0 auto 40px;
  letter-spacing: 0.04em;
}

#answer-screen {
  padding: 10px 40px;
}

#answer-screen h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
}

#answer-screen p {
  font-size: 36px; 
  font-weight: 600;
}

#answer-text {
  font-size: 36px;
  letter-spacing: 0.04em;
}

#answer-text img {
  display: block;
  margin: 30px auto 0;
  max-width: 80%;
  max-height: 60vh;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}
