@font-face {
  font-family: 'Futura PT Cond';
  src: url('fonts/FuturaPTCond.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Futura PT Cond',sans-serif;
  background: #365ea4;
  color: white;
  text-align: center;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  border: 2px solid white;
  padding: 20px;
  cursor: pointer;
  font-size: 24px;

}

td.used {
  background: #333;
  cursor: default;
}

.screen {
  display: none;
}

.screen.active {
  display: block;
}

button {
  padding: 12px 20px;
  font-family: 'Futura PT Cond',sans-serif;
  font-size: 24px;
  margin-top: 20px;
  cursor: pointer;
  background: #365ea4;
  color: white;
}

#question-screen {
  padding: 10px 40px;
}

#question-screen h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
}

#question-screen h3 {
  font-size: 28px; /* цена */
  opacity: 0.8;
  margin-bottom: 30px;
}

#question-screen p {
  font-size: 36px; /* сам вопрос */
  line-height: 1.4;
  max-width: 900px;
  margin: 0 auto 40px;
  letter-spacing: 0.04em;
}

#answer-screen {
  padding: 10px 40px;
}

#answer-screen h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
}

#answer-screen p {
  font-size: 36px; 
  font-weight: 600;
}

#answer-text {
  font-size: 36px;
  letter-spacing: 0.04em;
}

#answer-text img {
  display: block;
  margin: 30px auto 0;
  max-width: 80%;
  max-height: 60vh;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

/* ---------------- ВИДЕО ---------------- */

#question-video-wrapper,
#answer-video-wrapper {
  display: none;
  width: 100%;
  margin: 24px 0;
  
  /* Центрируем flex-контейнером */
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  position: relative;
  cursor: pointer;

  /* flex для центрирования иконки */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.video-container video {
  width: 70vw; /* увеличиваем примерно в 2 раза по сравнению с 50vw */
  max-width: 960px;
  aspect-ratio: 16/9;
  border-radius: 16px;
  background: black;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.4);
}

/* Иконка Play */
.video-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 60px solid white; /* длина треугольника */
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  pointer-events: none; /* важно для клика */
  z-index: 10;
  opacity: 1;
  transition: opacity 0.2s;
}

/* скрываем при воспроизведении */
.video-container.playing .video-play-icon {
  opacity: 0;
}

/* Адаптация для мобильных */
@media (max-width: 768px) {
  .video-container video {
    width: 90vw;
  }

  .video-play-icon {
    border-left-width: 40px;
    border-top-width: 23px;
    border-bottom-width: 23px;
  }
}


